@font-face {
    font-family: "DM Mono";
    src: url("assets/DM_Mono/DMMono-Regular.ttf");
}

input {
    display: none;
}

label::before, button {
    content: 'upload a Keras JSON file';
    color: blue;
    display: inline-block;
    background: grey;
    border: 2px solid blue;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    font-family: "DM Mono";
}

label:hover::before, button:hover {
    color: grey;
    background: blue;
}

label:focus {
    outline: none;
}


a {
    font-family: "DM Mono";
    color: black;
}


i {
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
}


button {
    z-index: 2;
}
